@font-face {
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/Manrope-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Manrope Bold";
    font-weight: 700;
    font-style: normal;
    src: url('../../fonts/Manrope-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Roboto Slab";
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/RobotoSlab-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Roboto Slab Bold";
    font-weight: 700;
    font-style: normal;
    src: url('../../fonts/RobotoSlab-Bold.ttf') format('truetype');
}


