@import "base/normalize";
@import "base/fonts";
@import "base/mixins";


$xs: 000px;
$s:  374px;
$m:  767px;
$l:  1200px;


$primary-font:              "Manrope", sans-serif;
$primary-font-bold:         "Manrope Bold", sans-serif;
$secondary-font:            "Roboto Slab", sans-serif;
$secondary-font-bold:       "Roboto Slab Bold", sans-serif;


$blue:              #1c99f2;
$blue-dark:         #012841;
$blue-turquoise:    #0b3d5c;
$blue-light:        #bbd8ea;
$grey:              #868686;
$grey-2:            #f3f3f3;
$green:             #55bc92;
$green-dark:        #1e6b4c;
$orange:            #ff6200;
$white:             #ffffff;
$yellow:            #f8cc6a;
$yellow-light:      #fafcf4;
$black:             #000000;


$blue-light-2:      #e5f3fe;
$blue-light-3:      #619ec3;
$grey-3:            #e1e1e1;
$brown-light:       #f3eff0;


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    position: relative;
}

.button{
    background-color: $green;
    color: $white;
    border-radius: 8px;
    font-size: 1rem;
    border: 0;
    padding: 12px;
    cursor: pointer;
}

.header{
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    padding: 23px 20px;
    position: absolute;
    width: 100%;

    &_logo{
        max-width: 116px;
    }
    &_wrapper{
        @include flexbox;
        @include align-items(center);
    }
    &_link{
        text-decoration: none;
        margin-right: 22px;

        &:last-child{
            margin: 5px 0 0 0;
        }
    }
    &_icon{
        &_shopping{
            width: 22px;
            height: 22px;
        }
        &_menu{
            width: 25px;
            height: 25px;
            display: block;
        }
    }
    .button{
        font-size: 0.9rem;
        padding: 12px 18px;
    }
}

.nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $blue-dark;
    display: none;

    &.show{
        display: block;
    }
    &_header{
        @include flexbox;
        @include justify-content(space-between);
        padding: 20px 20px;
    }
    &_icon_close{
        margin: auto 0;
        fill: $white;
        width: 21px;
        height: 21px;
    }
    &_body{
        padding-top: 22px;
        @include flexbox;
        @include flex-direction(column);
    }
    &_link{
        text-decoration: none;
        font-size: 1.8rem;
        text-align: center;
        color: $white;
        margin-top: 37px;
        cursor: pointer;
    }
}
.sec1{
    padding-bottom: 55px;

    &_wrapper{
        background-image:
                url("../../img/sec1-bg.png"),
                url("../../img/sec1-bg-tablet.png"),
                url("../../img/sec1-bg-mob.png");
        background-position: center, center, center bottom;
        background-repeat: no-repeat;
        background-size: 0, 0, auto;
        padding: 0 20px 103px 20px;
    }
    &_title{
        font-size: 2rem;
        font-family: $secondary-font-bold;
        padding-top: 162px;
        line-height: 1.5;
        max-width: 284px;
    }
    &_text{
        margin-top: 23px;
        line-height: 1.5;
        max-width: 284px;

        &_green{
            color: $green;
        }
        &_orange{
            color: $orange
        }
        &_blue{
            color: $blue;
        }
    }
    .button{
        padding: 12px 30px;
        margin-top: 42px;
    }
}
.sec2{

    &_wrapper{
        position: relative;
        overflow: hidden;
        padding: 40px 22px 60px;
    }
    &_title{
        text-align: center;
        color: $yellow;
        font-family: $secondary-font-bold;
    }
    &_subtitle{
        font-size: 1.3rem;
        font-family: $secondary-font-bold;
        text-align: center;
        margin: 12px auto 0;
        max-width: 238px;
        line-height: 1.4;
    }
    &_text{
        font-size: 0.85rem;
        line-height: 2;
        margin-top: 38px;
        text-align: center;

        &:nth-last-of-type(1){
            margin-top: 30px;
        }
    }
    &_bg{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $brown-light;
        z-index: -1;
    }
    &_rectangle{
        position: absolute;
        top: -84px;
        left: -32px;
    }
    &_circle{
        position: absolute;
        bottom: -10px;
        right: -45px;
        width: 115px;
    }
}
.sec3{
    text-align: center;
    padding: 30px 0 23px;

    &_title{
        font-size: 1.3rem;
        line-height: 2.2;
        text-align: center;
        font-family: $secondary-font-bold;
    }
    &_text{
        font-size: 0.85rem;
        line-height: 1.5;
        color: $grey;
        max-width: 230px;
        margin: 6px auto 0 auto;
    }
}
.accordion{
    margin-top: 48px;
    padding: 0 18px 0;

    &_item{
        padding: 15px 15px 10px 20px;
        border-bottom: 1px solid $grey-2;

        &:last-child{
            border: 0;
        }
        &.open{
            background-color: $blue-light-2;
            border: 0;

            .accordion_text{
                display: block;
            }
            .accordion_icon_arrow{
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }
    &_label{
        @include flexbox;
        @include justify-content(space-between);
    }
    &_icon{
        margin: auto 0;
        width: 21px;
        fill: $blue;
        height:20px;

        &_walking{
            height: 19px;
            width: 19px;
        }
        &_training{
            height: 26px;
            width: 26px;
        }
    }
    &_title{
        font-size: 1.15rem;
        line-height: 2.3;
        font-family: $secondary-font-bold;
        margin: 0 auto 0 14px;
    }
    &_icon_arrow{
        margin: auto 0;
        width: 14px;
        height:14px;
        fill: $blue;
    }
    &_text{
        display: none;
        font-size: 0.85rem;
        line-height: 1.4;
        margin: 3px 0 6px 0;
        text-align: left;
    }
}
.benefits{
    padding-top: 28px;

    &_title{
        color: $grey;
        font-family: $primary-font-bold;
        letter-spacing: 2px;
    }
    &_items{
        max-width: 63%;
        margin: 0 auto;
    }
    &_item{
        @include flexbox;
        @include flex-direction(column);
        margin-top: 22px;
    }
    &_icon{
        width: 16px;
        height: 16px;
        fill: $blue-light;
        margin: 0 auto;
    }
    &_text{
        font-family: $secondary-font;
        font-size: 0.85rem;
        line-height: 1.4;
        padding: 10px 0 0 0;
    }
}
.sec4{
    padding: 6px 32px 50px;

    &_title{
        font-size: 1.3rem;
        font-family: $secondary-font-bold;
        text-align: center;
        margin: 0 0 38px 0;
    }
    &_wrapper{
        position: relative;
    }
}
.slider{
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    padding-bottom: 42px;

    &_container{
        width: 100%;
        -webkit-transition: margin 1s ease;
        -o-transition: margin 1s ease;
        transition: margin 1s ease;
    }
    &_item{
        border-radius: 3px;
        float: left;
        font-family: $secondary-font-bold;
        font-size: 0.85rem;
        text-decoration: none;
        text-align: center;
        overflow: hidden;

        &_name{
            color: $black;
            margin-top: 8px;
        }
        &_price{
            color: $orange;
            margin-top: 8px;
        }
    }
    &_image{
        width: 100%;
    }
    &_navigation{
        @include flexbox;
        @include justify-content(center);
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    &_arrows{
        background-color: $green;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        border: 0;
        outline: none;
        margin: 0 11px 0 0;

        &:last-child{
            margin: 0 0 0 11px;
        }
    }
    &_arrow_icon{
        fill: $white;
        width: 10px;
        height: 10px;
        transform: rotate(90deg);

        &_next{
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }
}
.sec5{
    background-color: $yellow-light;
    padding: 38px 20px 56px;

    &_title{
        font-size: 1.3rem;
        line-height: 2.2;
        font-family: $secondary-font-bold;
        text-align: center;
    }
    &_img{
        width: 166px;
        margin: 0 auto;
        display: block;
    }
    &_text{
        color: $grey;
        font-size: 0.85rem;
        line-height: 1.4;
        text-align: center;
        margin: 10px 0 37px 0;
    }
    &_form_wrapper{
        padding-top: 23px;
    }
    &_message,
    &_input{
        width: 100%;
        outline: none;
        border: 1px solid $grey-3;
        border-radius: 8px;
        font-size: 0.85rem;
        padding-left: 16px;
        line-height: 2;
        margin-top: 15px;
    }
    &_message{
        resize: none;
        height: 130px;
        padding-top: 15px;
    }
    &_input{
        height: 52px;
    }
    .button{
        max-width: 285px;
        width: 100%;
        margin: 32px auto 0;
        display: block;
    }
}
.footer{
    background-color: $blue-dark;
    color: $white;

    &_content{
        padding: 13px 20px 0;
    }
    &_logo{
        margin: 0 auto;
        display: block;
    }
    &_text{
        margin-top: 30px;
        font-size: 0.85rem;
        line-height: 1.6;
        text-align: center;
    }
    &_item{
        margin-top: 44px;

        &:nth-child(3){
            .footer_item_title{
                padding: 8px 0;
            }
        }
    }
    &_item_title{
        color: $blue-light-3;
        text-align: center;
        font-family: $primary-font-bold;
        font-size: 1.15rem;
    }
    &_link{
        margin-top: 14px;
        font-size: 0.85rem;
        line-height: 1.3;
        text-decoration: none;
        color: $white;
        display: block;
        text-align: center;
    }
    &_wrapper_social{
        @include flexbox;
        @include justify-content(center);
        margin-top: 28px;
    }
    &_link_social{
        &:nth-child(2){
            margin: 0 15px;
        }
    }
    &_icon_social{
        width: 35px;
    }
    &_img{
        max-width: 135px;
        margin: 0 auto;
        display: block;
    }
    &_bottom{
        background-color: $blue-turquoise;
        font-size: 0.7rem;
        padding: 24px 0;
        text-align: center;
    }
}

@include breakpoint(greaterthanm) {
    .header{
        padding: 31px 25px 31px 22px;

        &_logo{
          max-width: 161px;
        }
        &_wrapper{
            align-self:flex-end;
        }
        &_link{
            margin: 0 34px 0 13px;

            &:last-child{
                display: none;
            }
            &.button{
                font-size: 1rem;
                margin: 0;
                padding: 12px 25px;
                font-family: $primary-font-bold;
            }
        }
    }
    .nav{
        @include flexbox;
        @include justify-content(center);
        position: static;
        background-color: transparent;
        width: 36.5%;

        &_header{
            display: none;
        }
        &_body{
            @include flex-direction(row);
            @include justify-content(space-between);
            max-width: 325px;
            width: 100%;
            padding-top: 16px;
        }
        &_link{
            color: $black;
            font-size: 1rem;
            margin-top: 0;
            font-family: $primary-font-bold;
        }
    }
    .sec1{

        &_wrapper{
            background-image:
                    url("../../img/sec1-bg.png"),
                    url("../../img/sec1-bg-tablet.png"),
                    url("../../img/sec1-bg-mob.png");
            background-position: center, 153px -305px, center;
            background-repeat: no-repeat;
            background-size: 0, auto, 0;
            padding: 0 20px 145px 25px;
        }
        &_title{
            font-size: 2.7rem;
            line-height: 1.3;
            padding-top: 202px;
            max-width: 402px;
        }
        &_text{
            font-size: 1.15rem;
            max-width: 410px;
            margin-top: 19px;
            line-height: 1.8;
        }
        .button{
            padding: 15px 32px;
            margin-top: 48px;
            font-size: 1.15rem;
            font-family: $primary-font-bold;
        }
    }
    .sec2{
        padding: 0 22px;

        &_wrapper{
            padding: 51px 61px 66px;
        }
        &_subtitle{
            font-size: 2rem;
            max-width: 425px;
        }
        &_text{
            margin-top: 34px;

            &:nth-last-of-type(1){
                margin-top: 26px;
            }
        }
        &_rectangle{
            top: -9px;
            left: -7px;
            width: 124px;
        }
        &_circle{
            bottom: -25px;
            right: -27px;
            width: 124px;
        }
    }
    .sec3{
        padding: 60px 0 23px;

        &_title{
            font-size: 2rem;
        }
        &_text{
            font-size: 1rem;
            max-width: 383px;
            margin: 0 auto;
        }
    }
    .accordion{
        padding: 0 60px 0;

        &_item{
            padding: 9px 27px 10px 25px;
        }
        &_title{
            font-size: 1.3rem;
        }
        &_text{
            max-width: 500px;
            line-height: 1.6;
            margin: 0 0 15px 0;
        }
    }
    .benefits{
        padding-top: 38px;

        &_items{
            padding-top: 17px;
            max-width: 70%;
        }
        &_item{
            @include flex-direction(row);
            @include align-items(center);
            @include justify-content(center);
            margin-top: 20px;
        }
        &_icon{
            margin: 0 10px 0 0;
        }
        &_text{
            font-size: 1rem;
            padding: 0;
        }
    }
    .sec4{
        padding: 57px 60px 50px;

        &_title{
            font-size: 2rem;
            margin: 0 0 60px 0;
        }
    }
    .slider{
        &_item{
            &_name{
                margin-top: 6px;
            }
        }
        &_navigation{
            top: 0;
            bottom: auto;
        }
        &_arrows{
            position: absolute;
            left: -49px;
            top: 47px;
            z-index: 10;
            height: 40px;
            width: 40px;

            &:last-child{
                left: auto;
                right: -47px;
            }
        }
        &_arrow_icon{
            width: 15px;
            height: 15px;
        }
    }
    .sec5{
        padding: 0 0 35px 0;

        &_wrapper{
            @include flexbox;
            @include flex-direction(column);
            position: relative;
            max-width: 664px;
            margin: 0 auto;
            padding: 50px 35px 37px 0;
        }
        &_wrapper_top{
            max-width: 290px;
            margin-left: auto;
        }
        &_img{
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 100%;
            max-width: 270px;
        }
        &_form_wrapper{
            max-width: 290px;
            margin-left: auto;
            padding-top: 4px;
        }
        &_title{
            font-size: 2rem;
        }
        &_text{
            font-size: 1rem;
            margin: 2px 0 37px 0;
        }
        &_message,
        &_input{
            padding-left: 22px;
        }
    }
    .footer{
        position: relative;

        &_content{
            padding: 13px 0 97px;
            @include flexbox;
            @include justify-content(space-between);
            max-width: 648px;
            margin: 0 auto;
        }
        &_logo{
            margin: 0;
        }
        &_text{
            max-width: 218px;
            text-align: left;
            font-size: 0.7rem;
            line-height: 2;
        }
        &_item{
            margin: 95px 0 0 0;

            &:nth-child(1){
                margin: 65px 0 0 0;
            }
            &:nth-child(2),
            &:nth-child(3){
                margin: 95px 18px 0 0;
            }
            &:nth-child(3){
                .footer_item_title{
                    padding: 0 0 6px 0;
                }
            }
            &:nth-child(5){
                position: absolute;
                right: 32px;
                bottom: 0;
                margin: 0;
            }
        }
        &_icon_social{
            width: 26px;
        }
        &_item_title{
            text-align: left;
            font-size: 1rem;
            padding-bottom: 6px;
        }
        &_link{
            margin-top: 18px;
            text-align: left;
        }
        &_wrapper_social{
            margin-top: 21px;
        }
        &_link_social{
            &:nth-child(2){
                margin: 0 12px;
            }
        }
    }
}

@include breakpoint(greaterthanl) {
    .header{
        max-width: 1180px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: 26px 0 22px 20px;

        &_link {
            margin: 0 39px 9px 13px;
        }
    }
    .nav{
        padding-right: 15px;

        &_body{
            padding-top: 13px;
        }
        &_link{
            font-size: 1.15rem;
            padding-bottom: 7px;

            &:hover{
                box-shadow: inset 0 -2px 0 0 $black;
            }
        }
    }
    .sec1{
        padding-bottom: 101px;

        &_wrapper{
            background-image:
                    url("../../img/sec1-bg.png"),
                    url("../../img/sec1-bg-tablet.png"),
                    url("../../img/sec1-bg-mob.png");
            background-position: right, center, center;
            background-size: auto, 0, 0;
            padding: 0 20px 141px 0 ;
        }
        &_content{
            max-width: 985px;
            margin: 0 auto;
            padding: 0;
        }
        &_title{
            padding-top: 249px;
            font-size: 2.85rem;
        }
        &_text{
            margin-top: 34px;
        }
        .button{
            padding: 21px 33px;
            margin-top: 52px;
        }
    }
    .sec2{
        padding: 0 10px;

        &_wrapper{
            max-width: 1180px;
            padding: 70px 61px 84px;
            margin: 0 auto;
        }
        &_subtitle{
            font-size: 2.43rem;
            max-width: 450px;
            line-height: 1.2;
            margin: 15px auto 0;
        }
        &_text{
            max-width: 781px;
            margin: 20px auto 0;
            font-size: 1rem;
            line-height: 1.6;
            padding-right: 8px;

            &:nth-last-of-type(1){
                margin-top: 23px;
            }
        }
        &_rectangle{
            top: 0;
            left: 0;
            width: auto;
        }
        &_circle{
            bottom: 0;
            right: 0;
            width: auto;
        }
    }
    .sec3{
        &_title{
            font-size: 2.4rem;
        }
        &_text{
            font-size: 1.15rem;
            max-width: 421px;
        }
        &_wrapper{
            @include flexbox;
            margin: 73px auto 0;
            max-width: 1006px;
        }
    }
    .accordion{
        padding: 0;
        margin: 0;
        max-width: 415px;

        &_item{
            padding: 10px 21px 10px 17px;
        }
        &_text{
            margin: 0 34px 15px 35px;
        }
    }
    .benefits{
        padding-top: 0;
        margin-left: 98px;

        &_items{
            @include flexbox;
            @include flex-direction(column);
            @include align-items(flex-start);
            max-width: none;
            padding-top: 7px;
        }
        &_title{
            text-align: left;
            margin-left: 29px;
        }
        &_text{
            text-align: left;
        }
    }
    .sec4{
        padding: 85px 60px 50px;

        &_title{
            font-size: 2.4rem;
            margin: 0 0 61px 0;
        }
    }
    .slider{
        max-width: 975px;

        &_item{
            &_name{
                font-size: 1rem;
                padding: 0 20px;
                margin-top: 11px;
            }
            &_price{
                font-size: 1rem;
            }
        }
        &_navigation{
            max-width: 965px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            top: 30px;
        }
        &_arrows{
            left: -86px;

            &:last-child{
                left: auto;
                right: -80px;
            }
        }
    }
    .sec5{
        padding: 0;

        &_wrapper{
            max-width: 1072px;
            padding: 130px 35px 151px 0;
        }
        &_wrapper_top{
            max-width: 413px;
            width: 100%;
        }
        &_img{
            max-width: 460px;
        }
        &_form_wrapper{
            max-width: 413px;
        }
        &_title{
            font-size: 2.4rem;
            line-height: 2;
        }
        &_text{
            font-size: 1.15rem;
            margin: 0 0 32px 0;
        }
        .button{
            max-width: none;
        }
        &_message,
        &_input{
            padding-left: 17px;
        }
    }
    .footer{
        &_content{
            padding: 6px 0 88px;
            max-width: 1115px;
            @include justify-content(flex-start);
        }
        &_logo{
            width: 206px;
            margin-left: 43px;
        }
        &_text{
            font-size: 0.85rem;
            max-width: 309px;
            margin-top: 26px;
            line-height: 1.8;
        }
        &_item{
            margin: 95px 0 0 0;

            &:nth-child(1){
                margin: 61px 0 0 0;
            }
            &:nth-child(2){
                margin: 105px  18px 0 94px;
            }
            &:nth-child(3){
                margin: 105px  18px 0 79px;
            }
            &:nth-child(4){
                margin: 105px  18px 0 56px;
            }
            &:nth-child(5){
                right: 71px;
            }
        }

        &_link{
            font-size: 1rem;
            line-height: 1;
            margin-top: 19px;
        }
        &_icon_social{
            width: 40px;
            height: 40px;
        }
        &_wrapper_social{
            margin-top: 16px;
        }
        &_link_social{
            &:nth-child(2){
                margin: 0 17px;
            }
        }
        &_img{
            max-width: none;
        }
        &_bottom{
            font-size: 0.85rem;
            padding: 21px 0;
        }
    }
}